/* Max-width 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 970px;
  }

  .contact-form-item:hover {
    transform: scale(1);
    border-bottom: 1px solid #333333;
  }
}

/* Max-width 1140px */

@media (max-width: 1140px) {
  .item-process:not(:last-child) {
    margin: 0 15px 40px;
  }
}

/* Max-width 1108px */
@media (max-width: 1108px) {
  .meadia-wrap {
    flex-direction: column;
    align-items: center;
  }

  .media-inform {
    text-align: center;
    margin-bottom: 5px;
  }
}

/* Max-width 992px */

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .form {
    width: 330px;
  }

  .process-wrap {
    flex-direction: column;
    align-items: center;
  }

  .item-process {
    width: 60%;
  }
}

/* Max-width 910px */
@media (max-width: 910px) {
  .pricing-wrap {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 50%;
    margin: 0 15px 35px;
  }
}

/* Max-width 767px */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .promo {
    padding: 40px 0;
  }

  .promo-wrap {
    flex-direction: column;
    align-items: center;
  }

  .promo-text {
    max-width: 90%;
    text-align: center;
    margin-bottom: 40px;
  }

  .promo-text-desc p {
    max-width: 100%;
  }

  .form {
    width: 370px;
  }

  .promo-text__btn {
    max-width: 35%;
    margin: 0 auto;
  }

  .media-list {
    width: 80%;
  }

  .media-list__item a {
    font-size: 2rem;
  }

  .media-inform {
    margin: 0 15px 10px;
  }

  .customers-wrap {
    flex-direction: column;
    align-items: center;
  }

  .customers-feedback {
    width: 50%;
    margin: 0 15px 30px;
  }

  .axure-btn {
    max-width: 30%;
  }
}

/* Max-width 635px */
@media (max-width: 635px) {
  html {
    font-size: 13px;
  }

  .promo-text {
    max-width: 90%;
    margin: 0 15px 30px;
  }

  .form {
    width: 320px;
  }

  .features-info {
    width: 75%;
  }

  .features-img {
    display: none;
  }

  .customers-feedback {
    width: 60%;
  }
}

/* Max-width 560px */
@media (max-width: 560px) {
  .burger-menu {
    display: block;
  }

  .menu {
    display: none;
  }
}

/* Max-width 420px */
@media (max-width: 420px) {
  .menu__item {
    margin-right: 40px;
  }

  .promo-text {
    margin: 0 15px;
    max-width: 100%;
  }

  .promo {
    padding: 20px 0;
  }

  .promo-text {
    max-width: 100%;
    margin: 0 15px 30px;
  }

  .form {
    width: 250px;
  }

  .features {
    padding: 90px 0;
  }

  .features-wrap {
    flex-direction: column-reverse;
    text-align: center;
  }

  .tabs {
    width: 90%;
    height: 10%;
    margin-bottom: 25px;
  }

  .tabs_item {
    display: inline-block;
    width: 32.3%;
  }

  .features-info {
    width: 90%;
    height: 70%;
    margin-bottom: 25px;
  }

  .features__title {
    margin-bottom: 1.5em;
  }

  .features-desc {
    margin-bottom: 25px;
  }

  .features-info-btn {
    margin: 0 auto;
  }

  .process {
    padding: 70px 0;
  }

  .pricing-card {
    width: 80%;
    margin: 0 15px 35px;
  }

  .axure-btn {
    max-width: 60%;
  }

  .customers {
    padding-bottom: 80px;
  }
  .customers-feedback {
    width: 80%;
  }

  .contact-form-wrap {
    flex-direction: column;
    align-items: center;
  }

  .contact-form-left {
    width: 80%;
    margin: 0 15px 30px;
  }

  .contact-form-right {
    width: 80%;
  }

  .footer-list {
    width: 80%;
  }
  .footer-list__item a {
    font-size: 1.25rem;
  }

  .contact-form-item:hover {
    transform: scale(1.1);
    border-bottom: none;
  }
}
