.header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.nav-logo {
  margin: 0 15px;
}

.logo {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.167;
  color: #fff;
}

#it {
  color: #ec7979;
}
.burger-menu {
  display: none;
  margin: 0 15px;
}
.burger-menu span {
  display: block;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.burger-menu span:not(:last-child) {
  margin-bottom: 8px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.menu__item {
  margin-right: 48px;
  transition: 0.2s;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item a {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.25;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.menu__item a:hover {
  transform: translate(0px, -5px);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
}
