.process {
  padding-bottom: 67px;
}
.process-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.item-process {
  width: 350px;
  margin: 0 15px;
}

.item-process_icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 0px auto 30px;
  border: 1px solid #e72424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-process_title {
  text-align: center;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 16px;
}

.item-process_description p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
