.promo {
  padding: 110px 0 101px;
  background-image: url(../img/bg_form-trial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.promo::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.promo-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.promo-text {
  margin: 0 15px;
  max-width: 47%;
}

.promo-logo {
  display: block;
  margin-bottom: 42px;
}

.promo-logo span {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 1.167;
  color: #ffffff;
}
.promo-text-title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.167;
  color: #ffffff;
}
.promo-text-desc p {
  max-width: 51%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}

.promo-text-desc::before {
  content: "";
  width: 64px;
  border: 1px solid #ffffff;
  display: inline-block;
  margin: 32px 0 39px;
}

.promo-text__btn {
  max-width: 24.4%;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 2.8;
  cursor: pointer;
  transition: 0.2s;
}

.promo-text__btn:hover {
  transform: scale(1.2);
}

.promo-text__btn a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  color: #ffffff;
}

.form {
  width: 370px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.promo-form-content {
  padding: 0.94em 3.69em 3.75em;
}

.promo-form {
  margin: 0 15px;
}

.form-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.35;
  color: #333333;
  text-align: center;
  margin-bottom: 2.3em;
}

.form-title span {
  text-transform: uppercase;
  color: #ec7979;
}

.promo-form-item {
  transition: 0.2s;
}

.promo-form-item:not(:last-child) {
  margin-bottom: 15px;
}

.promo-form__label {
  display: block;
  cursor: pointer;
}
.promo-input {
  width: 100%;
  transition: 0.2s;
}

.promo-form-item:hover {
  transform: scale(1.1);
}

.promo-input:focus {
  border-bottom: 1px solid #333333;
}

.promo-form__btn {
  width: 100%;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 3.6;
  color: #ffffff;
  border: 1px solid #ec7979;
  background: #ec7979;
  transition: 0.2s;
  cursor: pointer;
}

.promo-form__btn:hover {
  transform: scale(1.2);
}
